html {
  scroll-behavior: smooth;
}
.navbar-brand{
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 900;
  font-size: 1.8em;
}
#masterLogo{
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 800;
  font-size: 5.5em;
}
#masterLogoSubtitle{
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 600;
}
